[submodule ".tfenv"]
	path = .tfenv
	url = https://github.com/kamatama41/tfenv.git
[submodule "/home/jokwan/.vim/bundle/vim-go"]
	path = /home/jokwan/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
