[submodule ".tfenv"]
	path = .tfenv
	url = https://github.com/kamatama41/tfenv.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "stash/pathogen"]
	path = stash/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
