[user]
	name = Joshua Kwan
	email = joshua.kwan@liveramp.com
	signingkey = 9F00EDB05FED4CE8
[alias]
	co = checkout
[push]
	default = simple
[hub]
	host = git.liveramp.net
[core]
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[branch]
	autosetuprebase = always
[commit]
  gpgSign = yes
[gpg]
  program = git-gpg
